In [1]:
import numpy as np

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
data = np.random.randint(0,100,(10,2))

In [6]:
data

array([[80, 44],
       [12, 37],
       [87, 42],
       [38, 32],
       [38, 47],
       [28, 60],
       [92, 55],
       [13, 66],
       [60, 29],
       [39, 69]])

In [7]:
scaler_model = MinMaxScaler()

In [8]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [9]:
scaler_model.fit(data)

c:\users\gagan\envs\dl\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [10]:
scaler_model.transform(data)

array([[0.85  , 0.375 ],
       [0.    , 0.2   ],
       [0.9375, 0.325 ],
       [0.325 , 0.075 ],
       [0.325 , 0.45  ],
       [0.2   , 0.775 ],
       [1.    , 0.65  ],
       [0.0125, 0.925 ],
       [0.6   , 0.    ],
       [0.3375, 1.    ]])

In [11]:
scaler_model.fit_transform(data)

c:\users\gagan\envs\dl\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.85  , 0.375 ],
       [0.    , 0.2   ],
       [0.9375, 0.325 ],
       [0.325 , 0.075 ],
       [0.325 , 0.45  ],
       [0.2   , 0.775 ],
       [1.    , 0.65  ],
       [0.0125, 0.925 ],
       [0.6   , 0.    ],
       [0.3375, 1.    ]])

In [12]:
import pandas as pd

In [13]:
mydata = np.random.randint(0,101,(50,4))

In [14]:
mydata

array([[ 49,  65,  26,  12],
       [ 55,   9,  66,  30],
       [ 35,  16,  27,  63],
       [ 89,  22,  28,  63],
       [  7,  47,   8,  25],
       [  7,  26,   0,   2],
       [ 91,   8,  24,  54],
       [ 35,  82,  84,  67],
       [ 41,  20,  51,  19],
       [ 76,  85,  59,  44],
       [ 56,  61,  11, 100],
       [ 85,   9,  74,  31],
       [ 41,  62,  48,  50],
       [ 77,  90,   9,  40],
       [ 23,  70,  99,  46],
       [ 82,  62,  15,  33],
       [ 69,  43,  19,  52],
       [ 93,  70,  47,  26],
       [ 91,  18,  50,  36],
       [ 50,  22,  62,  24],
       [ 68,  25,   2,   0],
       [ 58,  84,  31,  91],
       [ 60,  97,  96,   3],
       [ 98,  31,  70,  27],
       [  7,  67,  12,  23],
       [ 87, 100,  15,  67],
       [ 33,   3,  31,  39],
       [ 15,  66,  43,  45],
       [ 15,  21,  19,  83],
       [ 76,  79,  10,  69],
       [  4,  71,  21,  91],
       [ 80,  57,  35,  68],
       [ 94,  46,  56,  32],
       [ 31,  81,  59,  78],
       [ 96,   7,  99,  56],
       [ 47,  29,  29,  92],
       [ 27,  60,  83,  99],
       [ 82,  43,  37,  25],
       [ 60,  57,  46,  71],
       [ 36,  23,  48,  89],
       [ 78,  60,  48,  35],
       [ 25,  79,  94,  86],
       [ 42,  14,  77,  60],
       [ 52,  97,  15,  48],
       [ 36,  92,  54,   6],
       [ 24,  38,  17,  46],
       [ 23,  60,  87,  29],
       [ 13,  52,  56,  89],
       [ 82,  61,  88,  50],
       [ 22,  59,   4,  26]])

In [16]:
df = pd.DataFrame(data = mydata)

In [17]:
df

     0    1   2    3
0   49   65  26   12
1   55    9  66   30
2   35   16  27   63
3   89   22  28   63
4    7   47   8   25
5    7   26   0    2
6   91    8  24   54
7   35   82  84   67
8   41   20  51   19
9   76   85  59   44
10  56   61  11  100
11  85    9  74   31
12  41   62  48   50
13  77   90   9   40
14  23   70  99   46
15  82   62  15   33
16  69   43  19   52
17  93   70  47   26
18  91   18  50   36
19  50   22  62   24
20  68   25   2    0
21  58   84  31   91
22  60   97  96    3
23  98   31  70   27
24   7   67  12   23
25  87  100  15   67
26  33    3  31   39
27  15   66  43   45
28  15   21  19   83
29  76   79  10   69
30   4   71  21   91
31  80   57  35   68
32  94   46  56   32
33  31   81  59   78
34  96    7  99   56
35  47   29  29   92
36  27   60  83   99
37  82   43  37   25
38  60   57  46   71
39  36   23  48   89
40  78   60  48   35
41  25   79  94   86
42  42   14  77   60
43  52   97  15   48
44  36   92  54    6
45  24   38  17   46
46  23   60  87   29
47  13   52  56   89
48  82   61  88   50
49  22   59   4   26

In [19]:
df = pd.DataFrame(data = mydata, columns=['f1','f2','f3','lable'])

In [20]:
df

    f1   f2  f3  lable
0   49   65  26     12
1   55    9  66     30
2   35   16  27     63
3   89   22  28     63
4    7   47   8     25
5    7   26   0      2
6   91    8  24     54
7   35   82  84     67
8   41   20  51     19
9   76   85  59     44
10  56   61  11    100
11  85    9  74     31
12  41   62  48     50
13  77   90   9     40
14  23   70  99     46
15  82   62  15     33
16  69   43  19     52
17  93   70  47     26
18  91   18  50     36
19  50   22  62     24
20  68   25   2      0
21  58   84  31     91
22  60   97  96      3
23  98   31  70     27
24   7   67  12     23
25  87  100  15     67
26  33    3  31     39
27  15   66  43     45
28  15   21  19     83
29  76   79  10     69
30   4   71  21     91
31  80   57  35     68
32  94   46  56     32
33  31   81  59     78
34  96    7  99     56
35  47   29  29     92
36  27   60  83     99
37  82   43  37     25
38  60   57  46     71
39  36   23  48     89
40  78   60  48     35
41  25   79  94     86
42  42   14  77     60
43  52   97  15     48
44  36   92  54      6
45  24   38  17     46
46  23   60  87     29
47  13   52  56     89
48  82   61  88     50
49  22   59   4     26

In [21]:
X = df[['f1','f2','f3']]

In [22]:
X

    f1   f2  f3
0   49   65  26
1   55    9  66
2   35   16  27
3   89   22  28
4    7   47   8
5    7   26   0
6   91    8  24
7   35   82  84
8   41   20  51
9   76   85  59
10  56   61  11
11  85    9  74
12  41   62  48
13  77   90   9
14  23   70  99
15  82   62  15
16  69   43  19
17  93   70  47
18  91   18  50
19  50   22  62
20  68   25   2
21  58   84  31
22  60   97  96
23  98   31  70
24   7   67  12
25  87  100  15
26  33    3  31
27  15   66  43
28  15   21  19
29  76   79  10
30   4   71  21
31  80   57  35
32  94   46  56
33  31   81  59
34  96    7  99
35  47   29  29
36  27   60  83
37  82   43  37
38  60   57  46
39  36   23  48
40  78   60  48
41  25   79  94
42  42   14  77
43  52   97  15
44  36   92  54
45  24   38  17
46  23   60  87
47  13   52  56
48  82   61  88
49  22   59   4

In [23]:
y = df['lable']

In [24]:
y

0      12
1      30
2      63
3      63
4      25
5       2
6      54
7      67
8      19
9      44
10    100
11     31
12     50
13     40
14     46
15     33
16     52
17     26
18     36
19     24
20      0
21     91
22      3
23     27
24     23
25     67
26     39
27     45
28     83
29     69
30     91
31     68
32     32
33     78
34     56
35     92
36     99
37     25
38     71
39     89
40     35
41     86
42     60
43     48
44      6
45     46
46     29
47     89
48     50
49     26
Name: lable, dtype: int32

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
X_train.shape

(35, 3)

In [29]:
X_test.shape

(15, 3)