In [19]:
import numpy as np
import pandas as pd

In [4]:
pwd

'C:\\Users\\gagan\\OneDrive\\Documents\\GitHub\\tensorflow-tutorial'

In [7]:
df = pd.read_csv('saleries.csv')

In [8]:
df

  Name  Saleries  Age
0    a   1000001   20
1    b  12000001   18
2    c    123421   19

In [9]:
df['Saleries']

0     1000001
1    12000001
2      123421
Name: Saleries, dtype: int64

In [10]:
df[['Saleries','Name']]

   Saleries Name
0   1000001    a
1  12000001    b
2    123421    c

In [11]:
df['Saleries'].max()

12000001

In [12]:
df.describe()

           Saleries   Age
count  3.000000e+00   3.0
mean   4.374474e+06  19.0
std    6.618428e+06   1.0
min    1.234210e+05  18.0
25%    5.617110e+05  18.5
50%    1.000001e+06  19.0
75%    6.500001e+06  19.5
max    1.200000e+07  20.0

In [15]:
df['Saleries'] > 10000000

0    False
1     True
2    False
Name: Saleries, dtype: bool

In [16]:
df[df['Saleries'] > 10000000]

  Name  Saleries  Age
1    b  12000001   18

In [20]:
df.as_matrix()

c:\users\gagan\envs\dl\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([['a', 1000001, 20],
       ['b', 12000001, 18],
       ['c', 123421, 19]], dtype=object)